/Aliquota.class
/Fatorial.class
/Multiplo3.class
/Tabuada.class
/TestaCaracteres.class
/TestaCondicional.class
/TestaConversao.class
/TestaEscopo.class
/TestaFor.class
/TestaMatriz.class
/TestaPontoFlutuante.class
/TestaSomatoria.class
/TestaValores.class
/TestaVariaveis.class
/TestaWhile.class
/TesteCondicional2.class
